@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

body{
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
*{
  font-family: 'poppins',sans-serif;
}
body,html{
  overflow-y: hidden;
}

.login,.signup{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.signup{
  padding-top: 5%;
}
.form-holder form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}
.form-holder{
  border: 1px solid black;
  padding: 5%;
  border-radius: 25px;
}
input{
  width: 400px;
  height: 50px;
  border-radius: 25px;
  padding-left: 2.5%;
}
.box{
  width: 400px;
  height: 30px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(228, 86, 86, 0.544);
  color: red;
  border: 1px solid red;
}
button{
  width: 200px;
  height: 40px;
  color: white;
  background-color: black;
  transition: 0.7s;
  border-radius: 25px;
}
button:hover{
  color: black;
  background-color: white;
}
.title{
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 5;
}
.choose{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid black;
  cursor: pointer;
}
.cell{
  height: 40px;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
}
.active{
  background-color: black;
  color: white;
}
.containerr{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  width: 100%;
  height: 100%;
  gap: 20px;
  /* overflow-y: hidden; */
}
.nav2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: fit-content;
  height: fit-content;
  border: solid 1px black;
  border-radius: 50px;
  padding: 0 2%;
}
.dash{
  width: 90vw;
  height: 70vh;
  padding-bottom: 50px;
  border-radius: 25px;
  overflow: hidden;
  border: solid 1px black;
}
.dash-header{
  background-color: black;
  color: white;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}
.btn{
  background-color: white;
  color: black;
}
.btn:hover{
  background-color: rgb(140, 130, 130);
  color: black;
}
.add{
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  font-size: 2.2rem;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.tasks-holder{
  height: 100%;
  overflow-y: auto;
}
.tasks-holder-main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  border: solid 1px black;
  cursor: pointer;
}

.tasks-holder-main:hover{
  background-color: antiquewhite;
}
.h2,p{
  margin: 0;
  padding: 0;
}
.over{
  background-color: rgba(0, 0, 0, 0.697);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.addtask{
  display: flex;
  flex-direction: column;
  padding: 5%;
  width: 60%;
  height: 60%;
  background-color: white;
  gap: 25px;
}

select{
  background-color: black;
  color: white;
  width: 200px;
  height: 35px;
}
.btn2{
  justify-self: flex-end;
  align-self: center;
}
.inp{
  font-size: 3rem;
  border: none;
  outline: none;
  padding-left: 5px;
  width: 100%;
}
.inp2{
  font-size: 1.2rem;
  height: 50%;
  border: none;
  outline: none;
  vertical-align: top;
  padding: 1px 5px;
}
.closebtn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  font-size: 1.2rem;
  right: 18%;
  cursor: pointer;
  top: 15%;
}
.del{
  width: 60px;
  background-color: rgba(231, 154, 154, 0.605);
  color: red;
  border: 1px solid  red;
}
.upd{
  width: 60px;
  background-color: rgba(39, 150, 241, 0.655);
  color: blue;
  border: 1px solid  blue;
}
.tasks-holder-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.tasks-holder-2{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
@media only screen and (max-width:500px){
  .tasks-holder-2,.tasks-holder-main{
    flex-direction: column;
  }
}
.desc{
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.p-mark{
  font-style: italic;
  color: gray;
  font-size: 15px;
}
.centre{
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.shower{
  background-color: white;
  width: 60vw;
  height: 60vh;
  padding: 6%;
  border-radius: 25px;
}
.flexrow{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.p1{
  font-style: italic;
  color: gray;
}
.p2{
  font-style: italic;
  color: green;
}
.p3{
  color: blue;
}
.p4{
  margin-top: 20px;
}